.answerWrite {
  margin-top: 65px;
}

h2 {
  width: 500px;
  height: 44px;
  font-size: 24px;
  font-weight: 700;
  padding-top: 30px;
  line-height: 34px;
}

textarea {
  margin-top: 22px;
  width: 1139px;
  height: 184px;
  resize: none;
  border: 1px soild gray;
  border-radius: 8px;
  padding: 30px;
}

textarea::placeholder{
  font-size: 16px;
  font-weight: 500;
}

.submitButton {
  float: right;
  margin-top: 16px;
  padding: 11px 26px;
  background-color: var(--primary);
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
}