.container {
  width: 1200px;
  min-width: 1000px;
  margin: 0 auto;
background-color: lightcyan;
}

.dropButton {
  font-size: 16px;
}
 
.dropButton {
  position: relative;
  display: inline-block;
}
 
.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
 
.dropdownContent a {
  color: black;
  text-decoration: none;
  display: block;
}
/* .dropdownContent a:hover {background-color: #ddd;} */
 
/* .dropdown:hover .dropdownContent {display: block;} */
 
/* .dropdown:hover .dropButton {background-color: #3e8e41;} */

