.container {
  width: 1200px;
  min-width: 1000px;
  margin: 0 auto;
}

.titleInput {
  margin-top: 45px;
  width: 1069px;
  height: 53px;
  border: 1px solid #888888;
  border-radius: 8px;
  padding: 0px 33px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.titleInput::placeholder {
  color: #a6a6a6;
}

.description {
  margin: 39px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.descriptionInput {
  width: 1069px;
  height: 356px;
  padding: 26px 33px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  resize: none;
  border-radius: 8px;
}
.descriptionInput::placeholder {
  color: #a6a6a6;
}
.descriptionInput:focus {
  outline: none;
}
.inputButton {
  color: transparent;
  display: inline-block;
  width: auto;
  margin: 57px 0 0 0;
  width: 185px;
  height: 44px;
  background: url("../../assets/sideproject/uploadButton.png") no-repeat;
  cursor: pointer;
}
.uploadInput {
  display: none;
}
.date,
.people,
.status,
.period,
.role,
.skill,
.email {
  margin: 57px 0 30px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

input[type="date"] {
  position: relative;
  background: url("../../assets/sideproject/calendar_icon.png") no-repeat right
    16px center / 25px auto;
  padding-left: 16px;
}
input:focus {
  outline: none;
}

input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  color: transparent;
  cursor: pointer;
}

input[type="date"]::before {
  content: attr(data-placeholder);
  width: 100%;
}
input[type="date"]:valid::before {
  display: none;
}

/* 날짜 */
.dateInput {
  width: 291px;
  height: 53px;
  background: #ffffff;
  border: 1px solid #888888;
  border-radius: 8px;
}

.dropButton {
  position: relative;
  display: inline-block;
  width: 92px;
  height: 53px;
  background: #ffffff url("../../assets/sideproject/down_arrow_icon.png")
    no-repeat;
  background-position: 80% 50%;
  border: 1px solid #888888;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-indent: -15px;
}

.dropdownContent {
  display: none;
  position: absolute;
  width: 92px;
  z-index: 1;
  background-color: #ffffff;

  border: 1px solid #888888;
  border-radius: 8px;
 
}

.dropdownContent a {
  color: black;
  text-decoration: none;
  display: block;
  font-weight: 700;
  font-size: 16px;
  height: 40px;
  line-height: 40px; 
  text-align: center;
  /* text-indent: 30px; */
}

.dropdown:hover .dropdownContent {
  display: block;

}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  display: inline-block;
  width: auto;
  height: auto;
  text-indent: 28px;
  cursor: pointer;
  background: url("../../assets/sideproject/nonecheck.png") no-repeat;
  background-position: 0% 50%;
  width: 142px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label {
  background: url("../../assets/sideproject/check.png") no-repeat;
  background-position: 0% 50%;
}

.skillIcon {
  width: 40px;
  height: 40px;
}

.submitButton {
  color: transparent;
  margin-top: 26px;
  margin-bottom: 138px;
  float: right;
  width: 82px;
  height: 41px;
  border: none;
  background: url("../../assets/sideproject/등록버튼.png") no-repeat 50% 20%;
}

.submitButton:hover{
  background: url("../../assets/sideproject/등록버튼.png") no-repeat 50% 80%;
}
