.container {
  display: flex;
  flex-flow: column nowrap;
  width: 1200px;
  min-width: 62.5%;
  margin: 0 auto;
  margin-bottom: 120px;
}

.profile {
  margin: 0 auto;
  padding-bottom: 20px;
}

.profile_info {
  text-align: center;
  padding-bottom: 23px;
  color: #333;
  font-weight: 500;
  font-size: 14px;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 34px;
}

.disableButton {
  text-align: center;
  width: 364px;
  height: 58px;
  border: 1px solid #364fc7;
  border-radius: 5px;
  background-color: white;
  color: #364fc7;
  font-weight: 600;
  font-size: 16px;
  cursor: default;
}
