.container {
  display: flex;
  flex-flow: column nowrap;
  width: 1200px;
  min-width: 62.5%;
  margin: 0 auto;
  margin-bottom: 120px;
}

.profile {
  margin: 0 auto;
  padding-bottom: 25px;
}

.profile_info {
  text-align: center;
  padding-bottom: 25px;
}

.profile_form {
  margin-bottom: 20px;
  border: none;
  background-color: var(--secondary);
  color: white;
}

.info {
  margin-top: 23px;
  text-align: center;
  color: var(--gray-500);
  font-weight: 400;
  font-size: 14px;
}

.toSignUp {
  color: #91a7ff;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
}
