.container {
  display: flex;
  flex-flow: column nowrap;
  width: 1200px;
  min-width: 62.5%;
  margin: 0 auto;
  margin-bottom: 120px;
}

.profile {
  margin: 0 auto;
  padding-bottom: 20px;
}

.profile_info {
  text-align: center;
  padding-bottom: 23px;
  color: #333;
  font-weight: 500;
  font-size: 14px;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
}

.formbox {
  position: relative;
}

.message {
  display: flex;
  display: block;
  float: left;
  margin-top: 12px;
  margin-bottom: 7px;
  color: #333;
  font-size: 14px;
}

.profileImage {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.submitButton:focus {
  outline: solid 3px #1c315e;
}

.disabledButton {
  cursor: not-allowed;
  background-color: var(--gray-500);
}