.box {
  display: flex;
  flex-direction: row;
}

.imgBox {
  margin-right: 10px;
}

.profile_label img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
/* isSignUp = false */
.profile_label {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  border: 1px dashed var(--gray-400);
  position: relative;
}

.profile_image {
  display: block;
  line-height: 100px;
  text-align: center;
  color: var(--gray-400);
  font-size: 14px;
}

.profile_form {
  margin-bottom: 20px;
  border: 0;
  color: white;
  cursor: pointer;
  display: none;
}

/* isSignUp = true */
.profile_label_isSignUp {
  background-color: var(--secondary);
  color: white;
  border: none;
  width: 185px;
  height: 44px;
  margin: 0 auto;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.profile_image_isSignUp {
  padding-right: 10px;
}

.profile_form_isSignUp {
  margin-bottom: 20px;
  border: 0;
  color: white;
  cursor: pointer;
  display: none;
}

input[type="file"] {
  display: none;
}
