.layout {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 124px;
}

.accent_primary {
  color: #364fc7;
}

.accent_third {
  color: #91a7ff;
}

.logo {
  display: block;
  margin: auto;
}

.title {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.subtitle {
  color: #6b6b6b;
  font-size: 0.875em;
  font-weight: 500;
  margin-top: 1em;
  text-align: center;
  padding-bottom: 70px;
}
