.container {
  width: 1200px;
  margin: 0 auto;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.listWrap {
  width: 30%;
  text-align: center;
  padding-bottom: 160px;
  /* background-color: orange; */
}

.iconBox {
  /* background-color: red; */
  width: 100%;
  display: block;
}

.title {
  font-size: 24px;
  font-weight: 600;
  padding-top: 40px;
}

.description {
  /* background-color: lime; */
  padding: 30px 0;
  white-space: pre-wrap;
  font-size: 18px;
  line-height: 1.6;
}
