.container {
  display: flex;
  flex-flow: column nowrap;
  width: 1140px;
  min-width: 62.5%;
  margin: 0 auto;
}

.info {
  margin-top: 1.4375em;
  text-align: center;
  color: #6b6b6b;
  font-weight: 400;
  font-size: 0.875em;
}

.toSignUp {
  color: #91a7ff;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
}
