.header {
  border-bottom: 1px solid var(--gray-300);
}

.inner {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  width: 8.13em;
}

.link {
  display:block;
}

.container {
  display: flex;
  flex-direction: row;
  width: calc(1200px - (8.13em));
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  padding: 0 5rem;
}

.account {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.account li {
  padding-left: 2.625rem;
}

.login {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.profile {
  height: 36px;
  width: 36px;
  object-fit: cover;
  border-radius: 30px;
  margin-right: 8px;
}
