.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 1200px;
  min-width: 62.5%;
  margin: 0 auto 120px auto;
  margin-top: 50px;
}

.rowButton {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}