.container {
  margin: 105px auto 120px auto;
  display: flex;
  justify-content: center;
}

.paginate {
  display: flex;
  flex-flow: row nowrap;
  gap: 13px;
  cursor: pointer;
  margin: 0 15px 0 15px;
}

.pageSpan:hover,
.pageSpan:focus {
  color: var(--secondary);
}

.paginationButton {
  border: none;
  background: transparent;
}
